<kendo-chart style="height: 290px;margin: 0px;padding: 0px;">
  <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
  <ng-template kendoChartDonutCenterTemplate>

       <app-donut-center></app-donut-center> 
    
  </ng-template>
  <kendo-chart-series>
    <kendo-chart-tooltip></kendo-chart-tooltip>
    <kendo-chart-series-item type="donut" [data]="donuts" categoryField="kind" field="share">
      <!-- <kendo-chart-series-item-labels position="center" background="none" [content]="labelContent">
  </kendo-chart-series-item-labels>   -->
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>
