<kendo-chart style="height: 350px;margin: 0px;padding: 0px;">

  <!-- <kendo-chart-title text="Percentual de Atingimento da Meta" align="center"></kendo-chart-title>  -->
  <!-- <kendo-chart-legend [visible]="false"></kendo-chart-legend>  -->
  <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>


  <ng-template kendoChartDonutCenterTemplate>

    <h2 *ngFor='let total of totais'>{{ total.share | percent }}</h2>
  </ng-template>
  <kendo-chart-series>
    <kendo-chart-series-item type="donut" [data]="totais" categoryField="kind" field="share">
      <!-- <kendo-chart-series-item-labels position="center" background="none" [content]="labelContent">
  </kendo-chart-series-item-labels>   -->
    </kendo-chart-series-item>

    <!-- <kendo-chart-series-item *ngFor="let series of datadonut; let outermost = last;"
                        type="donut" [startAngle]="150"
                        [name]="series.kind" [data]="series.share"
                        field="value" categoryField="category" colorField="color">
<kendo-chart-series-item-labels *ngIf="outermost"
                                position="outsideEnd" background="none"
                                [content]="labelContent">
</kendo-chart-series-item-labels>
</kendo-chart-series-item> -->
  </kendo-chart-series>
</kendo-chart>
