:host {
  display: flex;
  flex: 1;
  font-family: futura35;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 5px;
  font-size: 0.8em;
}

.tb_num {
    font-size: 2em;
    text-align: right;
    width: 250px;
    border-bottom: 2px solid #E0E0E0;
  font-family: futura35;
  padding-top: 20px;    
}

.tb_nome {
    font-size: 1.2em;
    text-align: left;
    border-bottom: 2px solid #E0E0E0;
  font-family: futura35;
  padding-top: 20px;
}


