<div>
  <table *ngIf='totais && totais.length'>
    <tr >
      <td class="tb_nome">META</td>
    <!-- <tr *ngFor='let total of totais'>  -->
      <!-- <td class="tb_num">{{ total.QTD_META_DIA | number : '1.2-2' }}</td>  {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits} -->
      <td class="tb_num">30000</td>
    </tr>
    <tr >
      <td class="tb_nome">HISTORICO</td>
    <!-- <tr *ngFor='let total of totais'>  -->
      <!-- <td class="tb_num">{{ total.QTD_META_DIA }}</td> -->
      <td class="tb_num">30000</td>
    </tr>
    <tr >
      <td class="tb_nome">AFERIDO</td>
    <!-- <tr *ngFor='let total of totais'>  -->
      <!-- <td class="tb_num">{{ total.QTD_META_DIA }}</td> -->
      <td class="tb_num">30000</td>
    </tr>
    <tr >
      <td class="tb_nome">GAP HISTÓRICO</td>
    <!-- <tr *ngFor='let total of totais'>  -->
      <!-- <td class="tb_num">{{ total.QTD_META_DIA }}</td> -->
      <td class="tb_num">30000</td>
    </tr>
    <tr >
      <td class="tb_nome">GAP META</td>
    <!-- <tr *ngFor='let total of totais'>  -->
      <!-- <td class="tb_num">{{ total.QTD_META_DIA }}</td> -->
      <td class="tb_num">30000</td>
    </tr>

  </table>
</div>
