:host {
  display: flex;
  flex: 1;
}

.legend {
  font-size: 2.2em;
}

md-sidenav {
  width: 265px;
  box-shadow: 4px 0px 4px -1px rgba(0, 0, 0, 0.35);
}

.titulo {
  font-family: futura85;
  font-size: 1.4em;
  padding-left: 2px;
  padding-right: 0px;
  text-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.titulocaixa {
  font-family: futura35;
  font-size: 1.4em;
  padding-left: 0px;
  padding-right: 10px;
  text-shadow: 0 0 8px rgba(0, 0, 0, .38), 0 8px 16px rgba(0, 0, 0, .48);
}

.subtitulo {
  //background-color: #48586C;
  background-color: #EFF5F6;
  font-family: futura35;
  font-size: 1.5em;
  padding-left: 60px;
  padding-right: 10px;
  min-height: 20px;
  box-shadow: 0px -2px 6px -1px rgba(0, 0, 0, 0.75);
}

.barratitulo {
  font-family: futura35;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28); //text-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.list-wrapper {
  border-top: 1px solid #6abd2d;
  border-bottom: 1px solid #6abd2d;
  font-family: futura35;
  font-size: 1.2em; // padding: 1.25em 0;
  // margin-left: 2.5em;
}

.btnavbar {
  font-family: futura35;
  font-size: 1.4em;
  padding-left: 50px;
  padding-right: 50px; //box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  //text-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

//  .kendoButton {
//    font-family: futura35;
//    height: 25px;
//     font-size: 0.8em;
//     box-sizing: content-box;
//     padding-left: 10px;
//     //text-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
//  }
//  #normal {
//    font-family: futura35;
//     box-sizing: content-box;
//     outline: none;
//     padding-top: 5px;
//     text-align: center;
//     font-size: 1.8em;
// }
.content {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

// .cardchart {
//   padding: 5px;
//   width: 80%;
//   height: 100%;
// }
@media (max-width: 960px) {
  .cardchart {
    padding: 5px;
    width: 80%;
    height: 100%;
  }
}

/deep/ md-icon.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 12px;
}

.fab-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

/deep/ .mat-list-item-content {
  height: auto !important;
}

.scroll-area {
  overflow: auto;
}
