<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
  <md-toolbar class="barratitulo" color="primary">

    <div class="titulo" fxFlexAlign="center">MeiosDigitais</div>
    <div class="titulocaixa" fxFlexAlign="center">CAIXA</div>
    <div>
      <span fxFlex></span>
      <button md-button class="btnavbar" fxFlexAlign="center">  Sumário  </button>
      <button md-button class="btnavbar" fxFlexAlign="center">  Realize  </button>
      <button md-button class="btnavbar" fxFlexAlign="center">  Monitor  </button>
      <button md-button class="btnavbar" fxFlexAlign="center">  Campanhas  </button>
    </div>
    <span fxFlex></span>
    <button md-icon-button [mdMenuTriggerFor]="themeMenu">
    <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-sidenav-container fxFlex class="scroll-area">

    <md-sidenav mode="side" opened>
      <md-nav-list>
        <md-list-item class="list-wrapper">
          <span>Loterias - Mega-Sena</span>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>

    <md-toolbar class="subtitulo" color="accent">Loterias - Mega-Sena
    </md-toolbar>

    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="8px">


      <md-card fxFlex="80">

        <md-card-title align="center">Movimento Dia</md-card-title>
        <kendo-chart style="height: 290px;">
          <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
          <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
          <kendo-chart-value-axis>
            <kendo-chart-value-axis-item [title]="{ text: 'Quantidade' }">
            </kendo-chart-value-axis-item>
          </kendo-chart-value-axis>
          <kendo-chart-category-axis>
            <kendo-chart-category-axis-item [title]="{ text: 'Horas' }">
            </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>
          <kendo-chart-series>
            <kendo-chart-series-item name="Histórico" type="line" style="smooth" width="5" [data]="products" field="QTD_HIST" categoryField="HORA">
              <kendo-chart-series-item-labels visible="true" format="{0}"></kendo-chart-series-item-labels>
            </kendo-chart-series-item>
            <kendo-chart-series-item name="Aferido" type="line" style="smooth" width="5" [data]="products" field="QTD_AFER" categoryField="HORA">
              <kendo-chart-series-item-labels visible="true" format="{0}"></kendo-chart-series-item-labels>
            </kendo-chart-series-item>

          </kendo-chart-series>

        </kendo-chart>

      </md-card>

      <md-card fxFlex="20" fxLayout="column">
        <md-card-title align="center">Totais Dia</md-card-title>

        <app-totais-dia></app-totais-dia>

      </md-card>
    </div>

    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="8px">
      <md-card fxFlex>
        <md-card-title align="center">Atingimento Meta Dia</md-card-title>

        <app-donut></app-donut>

      </md-card>
      <md-card fxFlex="75">
        <md-card-title align="center">Acumulado Dia</md-card-title>

        <kendo-chart style="height: 290px;">
          <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
          <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
          <kendo-chart-value-axis>
            <kendo-chart-value-axis-item [title]="{ text: 'Quantidade' }">
            </kendo-chart-value-axis-item>
          </kendo-chart-value-axis>

          <kendo-chart-category-axis>
            <kendo-chart-category-axis-item [title]="{ text: 'Horas' }">
            </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>

          <kendo-chart-series>
            
            <kendo-chart-series-item name="Histórico Acumulado" type="line" [data]="products" field="QTD_HIST_ACUM" categoryField="HORA">
               <kendo-chart-series-item-labels visible="true" format="{0:n}"></kendo-chart-series-item-labels> 
            </kendo-chart-series-item>
            <kendo-chart-series-item name="Meta2" type="bar" [data]="products2" field="META_DIA" categoryField="HORA">
              <kendo-chart-series-item-labels visible="true" format="{0:n}" position="insideBase"></kendo-chart-series-item-labels>
            </kendo-chart-series-item>
            <kendo-chart-series-item name="Aferido Acumulado" type="area" [data]="products" field="QTD_AFER_ACUM" categoryField="HORA">
              <!-- <kendo-chart-series-item-labels visible="true" format="{0:n}"></kendo-chart-series-item-labels> -->
            </kendo-chart-series-item>
            <kendo-chart-series-item name="Meta" type="line" [data]="products" field="META_DIA" categoryField="HORA">
              <kendo-chart-series-item-labels visible="true" format="{0:n}" ></kendo-chart-series-item-labels>
            </kendo-chart-series-item>
            
          </kendo-chart-series>

        </kendo-chart>

      </md-card>
    </div>

  </md-sidenav-container>

  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Mudar Tema</button>
  </md-menu>

</div>
